@model IEnumerable<missing_people.Models.MissingPerson>

@{
    ViewData["Title"] = "Index";
}

<h1>Missing People </h1>

<p>
    @if (User.Identity.IsAuthenticated)
    @Html.ActionLink("Create New", "Create")
</p>

  @Html.ActionLink("Male", "Index", new { gender=1 }) |
@Html.ActionLink("Female", "Index", new {  gender=2 }) |
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateLastSeen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateLastSeen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @if(User.Identity.IsAuthenticated)
                @Html.ActionLink("Edytuj", "Edit", new {id=item.Id}) |
                @Html.ActionLink("Szczegóły", "Details", new {  id=item.Id }) |
                @if (User.Identity.IsAuthenticated)
                @Html.ActionLink("Usuń", "Delete", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
